section.services.white-block
	.container 
		.services__items 
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span less money     
								span more money     
								span new 
								span money
						.services__item-right 
							span Консалтинг по цифровой трансформации
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span web     
								span mobile     
								span ml
						.services__item-right 
							span Продуктовая веб- и мобильная разработка
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span ui     
								span ux     
								span cx
						.services__item-right 
							span Дизайн и проектирование интерфейсов
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span 
								span sla
						.services__item-right 
							span Развитие и поддержка IT-проектов
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span 
								span startup
						.services__item-right 
							span MVP за 3 месяца
			a(href="#").services__item-wrapper
				figure 
					.services__item
						.services__item-left 
							span
								span express branding     
								span logo 
								span website     
						.services__item-right 
							span Метод IQ
				a(href="#").services__item-new Hовое
