section.hero
	video(src='video/hero.mp4', autoplay='', loop='', muted="muted").hero__video
	.hero__container.container 
		.hero__content
			.hero__top 
				.hero__left 
					a(href="#") Бесплатная консультация    →
				.hero__right
					.hero__title.general-title 
						|Создаем веб-сервисы 
						br
						|и мобильные приложения для 
						br
						span цифровой трансформации 360° бизнеса и госучреждений 
			.hero__bottom 
				.hero__left 
					a(href="#" download).hero__left-download-link 
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M21 15V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M7 10L12 15L17 10" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M12 15V3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
						span Презентация
				.hero__right 
					.hero__items 
						.hero__item 
							.hero__item-top 15,1 лет 
							.hero__item-bottom в IT с 07.2007
						.hero__item 
							.hero__item-top 350+
							.hero__item-bottom Проектов  
						.hero__item 
							.hero__item-top #1
							.hero__item-bottom  в рейтингах
