section.wehelp.white-block
	.container 
		.wehelp__title-wrapper 
			.wehelp__title.general-title 
				a(href="") Помогаем клиентам 
				br
				|достигать бизнес-целей и 
				br
				|пополнять топ-рейтинг 
				img(src="img/svg/rbc-500.svg", alt="alt")
		.wehelp__swiper.swiper 
			.swiper-wrapper 
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/Huawei.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Huawei
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/Island Soul.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Island Soul
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/Mercury.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left Mercury
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/tinkoff.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left tinkoff
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide 
					.wehelp__item 
						.wehelp__img 
							.wehelp__img-icon 
								img(src="img/svg/самолет плюс 1.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom 
							.wehelp__bottom-left самолет плюс
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide
					.wehelp__item
						.wehelp__img
							.wehelp__img-icon
								img(src="img/svg/ТБМ.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom
							.wehelp__bottom-left ТБМ
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide
					.wehelp__item
						.wehelp__img
							.wehelp__img-icon
								img(src="img/svg/Уралсиб Банк.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom
							.wehelp__bottom-left Уралсиб Банк
							.wehelp__bottom-right Александра Петрова
				.wehelp__slide.swiper-slide
					.wehelp__item
						.wehelp__img
							.wehelp__img-icon
								img(src="img/svg/Уралсиб Страхование.svg", alt="alt")
							img(src="img/wehelp/img.png", alt="alt")
						.wehelp__bottom
							.wehelp__bottom-left Уралсиб Страхование.svg
							.wehelp__bottom-right Александра Петрова
