extends ../layouts/default

block variables
	- const title = "TIQUM";

block content 
	.wrapper.main-page 
		include ../../blocks/modules/header/header 
		.page.page-blog 
			.page-header.page-header-big
				img(src="img/pages/blog/blog-hero.jpg", alt="alt")
				.container 
					.flex-lr 
						.flex-lr__left
						.flex-lr__right
							h1.page-header__title.general-title 8 трендов финтеха 
								span 12.01.2022 
			.blog 
				.content.content-blog__wrapper.container.white-block
					.content-blog.flex-lr 
						.left-content-blog.flex-lr__left  
							ul
								
						.right-content-blog.flex-lr__right 
							p В последние годы финансовый и банковский секторы претерпели радикальные преобразования. В частности за последние полтора года значительно изменилась политика предоставления финансовых услуг. В этой статье мы рассмотрим основные тенденции в области финтеха 2021 года.
							p Летом 2020 года финансовая компания Plaid совместно с The Harris Poll провела опрос 2000 человек. Результаты проиллюстрировали, что с момента удара COVID-19 59% людей используют больше финтех приложений для управления деньгами, чем до пандемии. 69% отмечают, что технологии помогли им сэкономить время, деньги и снизить уровень стресса при управлении финансами. Такой рост был вызван использованием приложений для бесконтактных платежей, цифровых банков и прочих инструментов. Но это не просто решения на время кризиса. Также данный американский опрос показал, что 73% людей планируют продолжать использовать цифровые банковские технологии и после окончания ограничений. Подробнее о лучших финтех-трендах поговорим далее.
							h2 Цифровые банки H2 
							p Цифровой банкинг занял позиции популярного метода управления денежными средствами еще до начала пандемии. Но сегодня цифровые финтех услуги носят предпочтительный характер, ведь они сводят к минимуму необходимость стоять в длинных очередях в отделениях банков. Цифровой банкинг включает в себя такие услуги как P2P-переводы, продажи криптовалют, бесконтактные платежи, международные денежные переводы, и др. 
							p Эксперты BCG прогнозируют, что количество людей, посещающих отделения банков сократится до 30%. Помимо удобства и безопасности, цифровые банки обеспечивают доступность, в том числе людям, не имеющим возможность пользоваться банковскими услугами ранее.
							h2 Блокчейн и децентрализованные финансы
							p Будучи одной из самых важных технологий, появившихся в последние годы, блокчейн входит в число тенденций финтеха с наибольшим потенциалом. Его применение в финансовой индустрии огромно. 
							p Блокчейн-решения устроили настоящую банковскую революцию, спровоцировав переход от централизованных процедур к более безопасным, прозрачным . Блокчейн предлагает децентрализованный реестр сквозных транзакций, которые после автоматического ввода никаким образом не могут быть изменены. Преимущества блокчейна для индустрии финтеха многочисленны, в том числе:
							p Прозрачность – блокчейн предоставляет открытую информацию о всех проведенных транзакциях, при этом сохраняя анонимность участников финансовых операций.
							p Мгновенные расчеты – там, где расчеты ранее занимали до недели, с блокчейном они могут занимать секунды. Это сэкономит всем вовлеченным сторонам огромное количество времени и денег.
							p Смарт - контракты – смарт-контракты с неподкупными бизнес-правилами улучшат производительность по срокам, поскольку они автоматически вступают в силу после выполнения определенных параметров. Это будет особенно выгодно для сложных операций с финансовыми активами.
							p Оптимизация капитала – блокчейн может значительно снизить операционные расходы для финансового сектора, поскольку он устраняет необходимость в посредниках, таких как банки-хранители и клиринговые компании.
							h2 Цифровая трансформация и роботизация абсолютно всех процессов 
							p Роботизированная автоматизация процессов позволяет оптимизировать операции, снизить нагрузку на людей, связанную с повторяющимися задачами, и значительно повысить эффективность банковской деятельности. 
							p Внедрение роботизации ускорит и снизит стоимость многих трудоемких внутренних процессов, связанных с управлением финансовым учреждением, таких как обслуживание счетов, привлечение новых клиентов и обработка кредитов. 
							p В итоге организации могут направить свои человеческие ресурсы на развитие ключевых областей, таких как обслуживание клиентов, тем самым повышая качество услуг, а также значительно повысить эффективность бизнеса.
							h2 Автономное финансирование с использованием искусственного интеллекта и машинного обучения
							p С помощью технологий искусственного интеллекта и машинного обучения инновационные финтех-компании могут автоматизировать процесс принятия финансовых решений и сэкономить драгоценное время своих клиентов.
							p ИИ и МО также позволяют финтех-фирмам использовать Big Data, чтобы найти закономерности в поведении клиентов, которые могут привести к более разумному принятию финансовых решений. С помощью этой технологии они могут эффективно адаптировать свои продукты и услуги в соответствии с желаниями потребителей.
							p Мы, в Tiqum, сейчас как раз ведем разработку интеллектуального консультанта Immata, который сможет помогать принимать правильные решения на основе анализа трат и  предпочтений клиентов.  
							h2 Сбор и анализ подробной информации о клиентах
							p Финтех-компании могут использовать для сбора и анализа информации данные опросов клиентов, их взаимодействие с брендом. Кроме этого, лингвистический анализ и идентификация языка могут собирать множество данных из телефонных разговоров между клиентами и центрами обслуживания клиентов, большая часть которых не структурирована и не используется. 
							p Такая технология может помочь брендам понять намерения клиента в момент звонка, его поведение и реакцию на интересующую услугу или продукт. Это позволит компаниям лучше адаптировать свои услуги в соответствии с ожиданиями клиентов.
							h2 Кибербезопасность выходит на первый план
							p На Всемирном экономическом форуме 2021, который проводился онлайн, по данным Интерпола, в 2021 году грядет увеличение убытков, связанных с киберпреступностью, до $6трлн. Развитие IT-технологий во всех отраслях, в финансовом секторе в том числе, создало множество возможностей для киберпреступников.
							p Учитывая характер информации, хранящейся в финансовых учреждениях, неудивительно, что кибербезопасность представляет собой одну из самых больших ветвей для развития сектора. На самом деле финансовая индустрия является одной из трех главных целей киберпреступности, на долю которой приходится около 10% всех ежегодных атак.
							.right-content-blog__img 
								img(src="img/pages/blog/content-blog-img.jpg", alt="alt")
							h2 Кибербезопасность выходит на первый план
							p На Всемирном экономическом форуме 2021, который проводился онлайн, по данным Интерпола, в 2021 году грядет увеличение убытков, связанных с киберпреступностью, до $6трлн. Развитие IT-технологий во всех отраслях, в финансовом секторе в том числе, создало множество возможностей для киберпреступников.
							p Учитывая характер информации, хранящейся в финансовых учреждениях, неудивительно, что кибербезопасность представляет собой одну из самых больших ветвей для развития сектора. На самом деле финансовая индустрия является одной из трех главных целей киберпреступности, на долю которой приходится около 10% всех ежегодных атак.
							.right-content-blog__coment 
								span При вторичном цитировании нужно указывать не статью, в котором использован заимствованный фрагмент, а его первоисточник.
							.right-content-blog__end 
								p На Всемирном экономическом форуме 2021, который проводился онлайн, по данным Интерпола, в 2021 году грядет увеличение убытков, связанных с киберпреступностью, до $6трлн. Развитие IT-технологий во всех отраслях, в финансовом секторе в том числе, создало множество возможностей для киберпреступников.
								p Учитывая характер информации, хранящейся в финансовых учреждениях, неудивительно, что кибербезопасность представляет собой одну из самых больших ветвей для развития сектора. На самом деле финансовая индустрия является одной из трех главных целей киберпреступности, на долю которой приходится около 10% всех ежегодных атак.
							h2 Автономное финансирование с использованием искусственного интеллекта и машинного обучения

				.blog__other.other-blog.white-block
					.container
						.other-blog__flex-lr.flex-lr 
							.other-blog__left.flex-lr__left 
							.other-blog__right.flex-lr__right 
								h1.other-blog__title.general-title Другие посты 
						.other-blog__items-inner 
							.blog-items.flex-lr 
								a(href='').blog-items__item.flex-lr__left  
									figure
										.blog-items__img 
											img(src="img/pages/blog/11.jpg", alt="alt")
										.blog-items__text 
											|Miro vs. FigJam: Выбираем 
											br
											|a Workshopping,
								a(href='').blog-items__item.blog-items__item--big.flex-lr__right  
									figure
										.blog-items__img 
											img(src="img/pages/blog/12.jpg", alt="alt")
										.blog-items__text 
											|Miro vs. FigJam: Выбираем a 
											br
											|Workshopping, Whiteboard and 
											br
											|Collaboration Web App
		include ../../blocks/modules/footer/footer 

block scripts
	script(src="https://code.jquery.com/jquery-3.6.1.min.js") 
	script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js") 
	script(src="js/main.js")
