.blog-info__container {
	margin-top: -30px;
	margin-right: -15px;
	@media (max-width: 1024px){
		margin: 0;
		margin-right: -1.465vw;
	}
	@media (max-width: 767px){
		margin: 0;
	}
}
.blog-items {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
	@media (max-width: 1919px){
		margin: 20px 0 0;
	}
	@media (max-width: 1440px){
		margin: 130px 0 0;
	}
	@media (max-width: 1024px){
		margin-top: 10.742vw;
		padding-bottom: 2.93vw;
	}
	@media (max-width: 767px){
		flex-wrap: wrap;
		margin-top: 13.333vw;
		padding-bottom: 8vw;
	}
	&__item {
		margin: 30px 0 0;
		padding-right: 15px;
		@media (max-width: 1024px){
			padding-right: 1.465vw;
		}

		@media (max-width: 767px){
			padding: 0;
		}
	}
	&__item.flex-lr__left {
		flex: 0 1 35%;
		@media (max-width: 767px){
			flex: 1 1 100%;
		}
	}

	&__item {
		/* margin-left: 15px; */
		flex: 0 1 25%;
		@media (max-width: 1919px){
			/* margin-left: 10px; */
		}
		@media (max-width: 1440px){
			/* margin-left: 15px; */
			flex: 0 1 33%;
		}
		@media (max-width: 1024px){
			/* margin-left: 1.465vw; */
		}
		@media (max-width: 767px){
			margin: 0;
			&:not(:first-child) {
				margin-top: 8vw;
			}
		}
		&:hover{
			.blog-items__text {
				color: #0047FF;
			}
		}
		&.blog-items__item--hide {
			padding: 0;
			@media (max-width: 1440px){
				display: none;
			}
		}
		&--big {
		}
/* 		&:nth-child(even){
			flex: 0 1 50%;
			@media (max-width: 1440px){
				flex: 0 1 67%;
			}
		} */
		&:nth-child(odd) {
			flex: 1 1 35%;
		}
		&:nth-child(even) {
			flex: 0 0 65%;
			@media (max-width: 767px) {
				flex: 1 0 100%;
			}
		}
		@media (max-width: 767px){
			flex: 1 1 100%;
		}
		&:first-child{
			margin-left: 0;
		}
	}
	&__img {
		@media (max-width: 767px){
			height: 74.667vw;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	
	&__text {
		margin-top: 20px;
		font-family: 'Suisse Intl';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 126.8%;
		color: #2A2A2A;
		transition: all 0.5s ease 0s;
		@media (max-width: 1919px){
			margin-top: 15px;
		}
		@media (max-width: 1440px){
			font-size: 24px;
		}
		@media (max-width: 1024px){
			font-size: 2.344vw;
			margin-top: 1.465vw;
		}
		@media (max-width: 767px){
			margin-top: 4vw;
			font-size: 4.800vw;
		}
	}
	
}
.blog__items-outer {

	.blog__item-outer {
		margin-top: 60px;
		@media (max-width: 1024px){
			margin-top: 5.859vw;
		}
		@media (max-width: 767px){
			margin-top: 8vw;
		}
		&:first-child{
			margin: 0;
		}
	}
	.blog-items {
		margin: 0;
	}
}