.confirm {
	background-color: #F5F5F5;
	padding-top: 30px;
	padding-bottom: 60px;
	@media (max-width: 1919px){
		padding-top: 20px;
		padding-bottom: 45px;
	}
	@media (max-width: 1440px){
		padding: 30px 0;
	}
	@media (max-width: 1024px){
		padding: 2.930vw 0;
	}
	@media (max-width: 767px){
		padding: 4vw 0;
	}
	&__title {
		flex: 0 1 65%;
		@media (max-width: 1919px){
			flex: 0 1 65%;
		}
		@media (max-width: 1440px){
			flex: 0 1 65%;
		}
		@media (max-width: 1024px){
			flex: 1 1 100%;
		}
		@media (max-width: 767px){
			max-width: 60%;
			flex: 1 1 100%;
			max-width: 100%;
			br {
				display: none;
			}
		}
		@media (max-width: 550px){
			max-width: 100%;
		}
		span {
			color: #000000;
			opacity: 0.2;
		}
		&-wrapper {
			display: flex;
			justify-content: flex-end;
			@media (max-width: 767px){
				justify-content: flex-start;
			}
		}
	} 



		&__items {
			padding-top: 230px;
			position: relative;
			@media (max-width: 1919px){
				padding-top: 170px;
			}
			@media (max-width: 1440px){
				padding-top: 70px;
			}
			@media (max-width: 1024px){
				padding-top: 10.742vw;
			}
			@media (max-width: 767px){
				padding-top: 13.333vw;
			}
		}
	
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 30px 0;
			border-top: 1px solid rgba($color: #000000, $alpha: 0.2);
			cursor: pointer;
			transition: all 0.5s ease 0s;
			font-family: 'Suisse Intl';
			font-style: normal;
			font-weight: 400;
			color: #2A2A2A;
			@media (max-width: 1024px){
				border-top: 0.098vw solid rgba($color: #000000, $alpha: 0.2);
				padding: 2.930vw 0;
			}
			@media (max-width: 767px){
				border-top: 0.267vw solid rgba($color: #000000, $alpha: 0.2);
				padding: 4vw 0;
				flex-wrap: wrap;
			}
			&.js-opacity-item {
				color: rgba($color: #000000, $alpha: 0.2);
			}
			&.js-active-item {
				border-top: 1px solid rgba($color: #000000, $alpha: 1);
				color: #000000;
				@media (max-width: 1024px){
					border-top: 0.098vw solid rgba($color: #000000, $alpha: 1);
				}
				@media (max-width: 767px){
					border-top: 0.267vw solid rgba($color: #000000, $alpha: 1);
				}
			}
			&-left {
				font-size: 32px;
				line-height: 126.8%;
				@media (max-width: 1919px){
					font-size: 24.0167px;
					line-height: 126.8%;
				}
				@media (max-width: 767px){
					flex: 1 1 100%;
					font-size: 4.800vw;
				}
			}
			
			&-right {
				font-size: 18px;
				line-height: 21px;
				opacity: 0;
				@media (max-width: 1919px){
					font-size: 14px;
					line-height: 16px;
				}
				@media (max-width: 1440px){
					opacity: 1;
				}
				@media (max-width: 1024px){
					flex: 0 0 18.555vw;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-left: 2.930vw;
					font-size: 1.367vw;
					line-height: 1.563vw;
				}
				@media (max-width: 767px){
					flex: 1 1 100%;
					margin-top: 6.667vw;
					opacity: 0.4;
					font-size: 3.200vw;
					line-height: 3.733vw;
					justify-content: space-between;
					margin-left: 0;
				}
				span {
					display: inline-block;
					&:nth-child(2){
						margin-left: 170px;
						@media (max-width: 1919px){
							margin-left: 130px;
						}
						@media (max-width: 1024px){
							margin-left: 0;
						}
						@media (max-width: 767px){
							margin-left: 18.667vw;
						}
					}
				}
			}
		}
	
		&__img-big {
			pointer-events: none;
			position: absolute;
			top: calc(50% + 50px);
			left: 45%;
			opacity: 0;
			transform: translate(0, -50%);
			transition: all 0.3s ease 0s;
			@media (max-width: 1440px){
				display: none;
			}
			@media (max-width: 767px){
				top: calc(50% + 13.333vw);
			}
			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		.confirm__item {
			&:hover{
				.confirm__item-right {
					opacity: 1;
				}
				.confirm__img-big {
					top: 50%;
					opacity: 1;
				}
			}
		}
}