section.realization.white-block
	.container 
		.realization__top
			.realization__title-wrapper 
				.realization__title.general-title 
					|Реализовали 
					a(href="#") 350+ проектов 
					br
					|для бизнеса, государства 
					br
					|и ключевых отраслей
			.swiper.realization__swiper 
				.swiper-wrapper 
					.swiper-slide.realization__slide  
						.realization__circle
							span foodtech
					.swiper-slide.realization__slide  
						.realization__circle
							span Insurance
					.swiper-slide.realization__slide  
						.realization__circle
							span Ecommerce
					.swiper-slide.realization__slide  
						.realization__circle
							span Foodtech
					.swiper-slide.realization__slide  
						.realization__circle
							span Insurance
					.swiper-slide.realization__slide  
						.realization__circle
							span Marketplaces

		.realization__items
			.items-projects  
				.item-projects
					a(href="#").item-projects__content.item-projects-content-grey
						figure
							.item-projects__header
								.item-projects__title Skilli 
								.item-projects__btns 
									.item-projects__btn Backend
									.item-projects__btn Web
									.item-projects__btn Mobile
							.item-projects__text 
								|Приложение для развития 
								br
								|полезных навыков у детей
							.item-projects__img 
								img(src="img/item-projects/skill.png", alt="alt")
				.item-projects
					a(href="#").item-projects__content.item-projects-content-blue
						figure
							.item-projects__header
								.item-projects__title Head.z  
								.item-projects__btns 
									.item-projects__btn Backend
									.item-projects__btn Web
									.item-projects__btn Mobile
							.item-projects__text 
								|Тиндер для поиска 
								br
								|разработчиков
							.item-projects__img 
								img(src="img/item-projects/head.png", alt="alt")
				.item-projects.item-projects-big
					a(href="#").item-projects__content
						figure
							.item-projects__header
								.item-projects__title Mark.moda  
								.item-projects__btns 
									.item-projects__btn Backend
									.item-projects__btn Web
									.item-projects__btn Mobile
							.item-projects__text 
								|Маркетплейс, социальная 
								br
								|сеть, конструктор образов
							.item-projects__img 
								img(src="img/item-projects/mark.png", alt="alt")
							.item-projects-bronze 	
								img(src="img/svg/bronze.svg", alt="alt")
				.item-projects.item-projects-dark
					a(href="#").item-projects__content.item-projects-content-blue
						figure
							.item-projects__header
								.item-projects__title ATM и терминалы оплаты банка 
								.item-projects__btns 
									.item-projects__btn Backend
									.item-projects__btn Web
									.item-projects__btn Mobile
							.item-projects__text 
								|Интерфейс и верстка экранов для 
								br
								|банкоматов NCR, WinCor, Nautilus и 
								br
								|платежных терминалов
							.item-projects__img 
								img(src="img/item-projects/atm.png", alt="alt")
				.item-projects
					a(href="#").item-projects__content.item-projects-content-grey-dark
						figure
							.item-projects__header
								.item-projects__title Romeks 
								.item-projects__btns 
									.item-projects__btn Backend
									.item-projects__btn Web
									.item-projects__btn Mobile
							.item-projects__text 
								|Сайты застройщика Ромекс 
								br
								|Девелопмент
							.item-projects__img 
								img(src="img/item-projects/romeks.png", alt="alt")
