section.weright.white-block
	.container 
		.weright__header 
			.weright__left 
				a(href="#").weright__telegram
					img(src="img/svg/telegram.svg", alt="alt")
			.weright__right 
				.weright__title.general-title 
					a(href="") Пишем 
					|про IT и цифровую 
					br
					|трансформацию 

		.blog-items
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/11.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем 
										br
										|a Workshopping,
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/12.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем a 
										br
										|Workshopping, Whiteboard and 
										br
										|Collaboration Web App
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/11.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем 
										br
										|a Workshopping,
							a(href='').blog-items__item  
								figure
									.blog-items__img 
										img(src="img/pages/blog-info/12.jpg", alt="alt")
									.blog-items__text 
										|Miro vs. FigJam: Выбираем a 
										br
										|Workshopping, Whiteboard and 
										br
										|Collaboration Web App
