footer.footer
	.footer__container.container 
		.footer__wewillfind.wewillfind-footer
			.wewillfind-footer__left 
				.wewillfind-footer__connection 
					a(href="#") 8 800 775 73 63 
					a(href="#") info@tiqum.ru
				.wewillfind-footer__location 
					|Питер – opening 
					span Уфа – Гоголя 53
			.wewillfind-footer__right 
				.wewillfind-footer__title.general-title 
					|Найдем 
					span решение вашей задачи
				form(action="#" method="method").wewillfind-footer__form.form-wewillfind-footer
					.form-wewillfind-footer__item.form-wewillfind-footer__item--big
						input(type="text" placeholder="Имя и фамилия")
					.form-wewillfind-footer__item 
						input(type="text" placeholder="Телефон, телеграм")
					.form-wewillfind-footer__item 
						input(type="text" placeholder="Рабочий email")
					.form-wewillfind-footer__item.form-wewillfind-footer__item-description 
						textarea(type="text" placeholder="Короткое описание проекта")
						input(type="file" id="form-wewillfind-footer__item-file")
						label(for="form-wewillfind-footer__item-file") 
							svg(width='22' height='26' viewBox='0 0 22 26' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M19.221 14.3065L17.9432 15.6065L11.7971 21.8985C10.6916 22.9571 9.22441 23.5361 7.70644 23.5128C6.18848 23.4894 4.73912 22.8655 3.66564 21.7734C2.59215 20.6812 1.97893 19.2066 1.95597 17.6623C1.93301 16.1179 2.50212 14.6252 3.54266 13.5005L13.4454 3.42548C13.771 3.09514 14.1573 2.83327 14.5823 2.65482C15.0073 2.47637 15.4627 2.38483 15.9225 2.38543C16.3822 2.38604 16.8374 2.47877 17.2619 2.65834C17.6865 2.8379 18.0721 3.10079 18.3968 3.43198C18.7215 3.76318 18.9789 4.15619 19.1543 4.58859C19.3297 5.02099 19.4197 5.4843 19.4191 5.95208C19.4185 6.41985 19.3274 6.88293 19.1509 7.31487C18.9744 7.7468 18.716 8.13914 18.3904 8.46948L9.31821 17.6995C9.09835 17.9194 8.80237 18.0426 8.49404 18.0426C8.18572 18.0426 7.88974 17.9194 7.66988 17.6995C7.45588 17.472 7.33643 17.1693 7.33643 16.8545C7.33643 16.5396 7.45588 16.2369 7.66988 16.0095L12.6277 10.9785L13.0365 10.5625L14.3143 9.26248C14.4991 9.03229 14.5931 8.74033 14.5779 8.44351C14.5626 8.14669 14.4393 7.86627 14.2319 7.65691C14.0245 7.44755 13.748 7.32426 13.4561 7.31105C13.1643 7.29785 12.878 7.39568 12.6532 7.58548L11.3754 8.88548L11.0049 9.30148L6.02154 14.3065C5.36071 14.9788 4.98946 15.8907 4.98946 16.8415C4.98946 17.3123 5.08061 17.7785 5.25769 18.2134C5.43478 18.6484 5.69433 19.0436 6.02154 19.3765C6.34875 19.7094 6.73721 19.9735 7.16473 20.1536C7.59225 20.3338 8.05047 20.4265 8.51321 20.4265C9.44777 20.4265 10.344 20.0488 11.0049 19.3765L20.0771 10.1465C21.1717 9.02939 21.7853 7.51566 21.7829 5.93829C21.7805 4.36092 21.1623 2.84913 20.0643 1.73548C18.9663 0.621838 17.4785 -0.00243086 15.9281 7.11404e-06C14.3777 0.00244509 12.8917 0.631391 11.7971 1.74848L10.1488 3.42548L1.89432 11.8235C0.589063 13.4159 -0.0836641 15.4474 0.00832879 17.5187C0.100322 19.5901 0.950384 21.5515 2.39148 23.0177C3.83258 24.4838 5.76051 25.3487 7.79645 25.4423C9.83239 25.5359 11.8291 24.8514 13.3943 23.5235L19.5915 17.2185L20.8693 15.9185C21.0894 15.6942 21.2129 15.3903 21.2129 15.0735C21.2129 14.7566 21.0894 14.4527 20.8693 14.2285C20.7563 14.123 20.6239 14.0413 20.4797 13.9881C20.3355 13.9349 20.1824 13.9112 20.0292 13.9185C19.876 13.9257 19.7257 13.9637 19.587 14.0303C19.4483 14.0969 19.3239 14.1908 19.221 14.3065V14.3065Z' fill='white')

					.form-wewillfind-footer__bottom 
						button(type='submit').form-wewillfind-footer__btn.blue-btn 
							span Отправить
						.form-wewillfind-footer__text 
							|Нажимая кнопку вы соглашаетесь на 
							br
							|обработку персональных данных и 
							br
							|улучшение вашего бизнеса
		.footer__bottom
			.footer__left
				span Tiqum © 2007—2021
			.footer__right-soc.footer__right-soc-mob
				a(href="#") Linkedin
				a(href="#") Facebook
				a(href="#") VK
				a(href="#") Telegram
				a(href="#") Instagram
				a(href="#") Youtube
			.footer__right
				.footer__right-soc.footer__right-soc-desk
					a(href="#") Linkedin
					a(href="#") Facebook
					a(href="#") VK
					a(href="#") Telegram
					a(href="#") Instagram
					a(href="#") Youtube
				.footer__right-lang
					a(href="#") 中文版网站
					a(href="#") English version
					a(href="#").active-lang Русская версия